# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/

# Environments
env/
venv/
.venv/
ENV/
.env
*.env

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
*.so

# Distribution / packaging
build/
dist/
*.egg
*.whl
*.manifest
*.spec

# Logs and databases
*.log
*.sqlite3

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Others
.DS_Store
Thumbs.db